{% extends "base.html" %}
{% block title %}Games List{% endblock %}
{% block head %} {% endblock %}

{% block content %}
    <h2>Available Games</h2>
    <ul>
    {% for game in games %}
    <li>
        <a href="{{ url_for('.games', game=game) }}">{{ games[game].name }}</a>
    </li>
    {% endfor %}

    {% for game in games_list %}
    <li>
        <a href="{{ url_for('.play_game', game_id = game.id)
            }}">#{{ game.id }}</a> - {{ game.status }}
    </li>
    {% endfor %}
    </ul>
{% endblock %}
